#container {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

#box{
  width: 100px;
  height: 100px;
  background: red;
}

.rotate {
  transform:             rotate( 0deg );            
      -moz-transform:    rotate( 0deg );            
      -ms-transform:     rotate( 0deg );            
      -o-transform:      rotate( 0deg );            
      -webkit-transform: rotate( 0deg );            
  transition:             transform 550ms ease;
      -moz-transition:    -moz-transform 550ms ease;
      -ms-transition:     -ms-transform 550ms ease;
      -o-transition:      -o-transform 550ms ease;
      -webkit-transition: -webkit-transform 550ms ease;
}

.over {
  transform:             rotate( 180deg );            
      -moz-transform:    rotate( 180deg );            
      -ms-transform:     rotate( 180deg );            
      -o-transform:      rotate( 180deg );            
      -webkit-transform: rotate( 180deg );            
  transition:             transform 550ms ease;
      -moz-transition:    -moz-transform 550ms ease;
      -ms-transition:     -ms-transform 550ms ease;
      -o-transition:      -o-transform 550ms ease;
      -webkit-transition: -webkit-transform 550ms ease;
}